strategy: min
source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage:none

nuget Fable.Core = 3.2.6
nuget Fable.Elmish = 3.1.0
nuget Fable.Elmish.React = 3.0.1
nuget Fable.Promise = 2.2.0
nuget Fable.Fetch = 2.2.0
nuget Fable.Browser.Dom = 2.3.0
nuget Fable.React = 7.3.0
nuget Fable.SimpleHttp = 3.0.0
nuget Feliz = 1.43.0
nuget Thoth.Json = 5.1.0
nuget Zanaptak.TypedCssClasses = 0.4.0

nuget Fable.FontAwesome.Free = 2.1.0
nuget Fulma = 2.10.0

source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
nuget FSharpMyExt
nuget IfEngine

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core = 5.0.1
    nuget Fake.Core.ReleaseNotes = 5.20.4
    nuget Fake.Core.Target = 5.20.4
    nuget Fake.DotNet.Cli = 5.20.4
    nuget Fake.IO.FileSystem = 5.20.4
